# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.OpenWeatherWebApp.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\naris\Documents\Work\TECHHIRE\REPOSITORY\C-Sharp-DDWA-SSP-in-ASP.NET\OpenWeatherWebApp\.idea\.idea.OpenWeatherWebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
